body {
  font-family: 'Montserrat';
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

p {
  color: #8f8f8f;
}

/* Heading/ */
.big-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  color: white;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Container */
.container-fluid {
  padding: 7% 15%;
}

/* Sections */

.colored-section{
  background-color: #ff4c68;
  color: #fff;
}

.white-section{
  background-color: #ffff
}

/* Title section */

#title .container-fluid{
  text-align: left;
  padding:3% 15% 7%
}
.download-button {
  margin: 1%;
}



.title-img {
  width: 20%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

.google-play {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.apple {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

/* Feature section */
#features {

  position: relative;
}

.features-text {
  font-size: 1.5rem;
  line-height: 1;
}

.feature-box {
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
  margin-bottom: 1rem;
}

/* testmonials */
#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-img {
  width: 15%;
  margin: 20px 20px 15px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

/* pricing section */
#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

.pricing-text {
  font-size: 1.5rem;
  line-height: 1;
}

/*call to action */
#cta {
}

.cta-h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}

/* Footer section */
#footer {
  padding: 7% 15%;
}

.social-icon {
  margin: 20px 10px;
}

@media (max-width : 1028px) {
  #title {
    text-align: center;
  }

  .title-img {
    transform: rotate(0);
    position: static;
    width: auto;
  }
}
